includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
    level: 5
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Contracts\\Auth\\StatefulGuard::(refresh|factory)\(\)#'
        - '#Result of method Illuminate\\Contracts\\Auth\\StatefulGuard::login\(\) \(void\) is used#'
